@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 custom-font">Bienvenido a Vital Fitness GYM</h1>
    <p>Somos un gimnasio y centro de fitness ubicado en el sector de San Carlos Vencedores del Norte.</p>
</div>
