@{
    ViewData["Title"] = "Políticas de Privacidad";
}
<h1>@ViewData["Title"]</h1>

<p>Las compras realizadas por medio de la página web se mantienen aseguradas por medio del servicio que Vital Fitness GYM ofrece.</p>
